 
{% extends "product/base.html" %}

{% block content %}      


<div class="content" style="margin: 10%; float: left;">
    <h5>Corporate Office Address:</h5>
    <p> 21 Purana Paltan Line, Dhaka-1000. </p>
    <hr>
    <h5>Warehouse Address: </h5>
    <p> Al Amin Road, South Paikpara, Mirpur Dhaka - 1216. </p>
    <hr>
    <h5> Contact: </h5>
    <p> +880 1708-725462 </p>
    <p> +880 1318-587888 </p>
    <hr>
    <h5> Email: </h5>
    <p> tmartbangladesh@gmail.com </p>
    <p> hellotmartbd@gmail.com </p>
</div>
	

{% endblock %}
